<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="github.
    com.br/soulcoups">
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width,
    initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- eu sou um comentário -->
     <marquee bgColor="red"
     direction="right">Lorem ipsum dolor, 
        sit amet consectetur adipisicing elit. Aspernatur, sequi.</marquee>
    <marquee bgColor="pink"
    direction="left">Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Excepturi, neque!</marquee>
    <marquee bgColor="blue"
    direction="down">Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Qui, impedit.</marquee>
    <marquee bgColor="green"
    direction="up">Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Non, facere!</marquee>
</body>
</html>